.main {
  padding: 1.5em 1.25em;
  background-color: var(--light-mode-background);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main.dark {
  background-color: var(--dark-mode-background);
}

.wrapper {
  width: 1275px;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.75em;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 45px;
}

@media screen and (min-width: 800px) {
  .options {
    flex-direction: row;
  }

  .wrapper {
    margin-top: 25px;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(4, 290px);
  }
}
